body{
    background-color:#53687E;
}

#p1{
    background-color: #C2B2B4;
    color:#6B4E71;
}

#p2{
    background-color: #6B4E71;
    color: #C2B2B4;
}


.container{
    height: 1080px;
    width: 1680px;
    background-color: white;
    float: left;
    font-family: "Monaco", monospace;
    text-align: center;

}

.title{
    height: 200px;
    width: 1680px;
    color: #F5DDDD;
    background-color:#53687E;
    float: left;
    font-family: "Monaco", monospace;
    text-align: center;
    font-size: 160px;

}

.banner{
    height: 20px;
    width: 1680px;
    background-color: #53687E;
    float: left;
    font-family: "Monaco", monospace;
    text-align: center;
    font-size: 160px;

}

.smallBanner{
    height: 20px;
    width: 800px;
    background-color:#53687E;
    float: left;
    font-family: "Monaco", monospace;
    text-align: center;
    font-size: 160px;

}

.bottomBox{
    height: 500px;
    width: 400px;
    background-color: red;
    font-family: "Monaco", monospace;
    text-align: center;
    float: left;
    margin: 20px;
    
}

.topBox{
    height: 300px;
    width: 400px;
    background-color: #53687E;
    font-family: "Monaco", monospace;
    text-align: center;
    margin: 20px;
    margin-top: 0px;
    float: left;
    
}

.sideBox{
    height: 840px;
    width: 440px;
    background-color:#53687E;
    float: left;
    font-family: "Monaco", monospace;
    text-align: center;
}

.subtitle{
    height: 100px;
    width: 400px;
    float: left;
    font-family: "Monaco", monospace;
    text-align: center;
    font-size: 70px;
}

.timer{
    height: 100px;
    width: 400px;
    background-color: #53687E;
    float: left;
    font-family: "Monaco", monospace;
    text-align: center;
    font-size: 70px;
}

.board{
    height: 840px;
    width: 800px;
    background-color:#53687E;
    float: left;
    font-family: "Monaco", monospace;
    text-align: center;
    
}

.squareWhite{
    height: 100px;
    width: 100px;
    float: left;
    font-family: "Monaco", monospace;
    text-align: center;
    background-color: #F5DDDD;
}

.squareBrown{
    height: 100px;
    width: 100px;
    float: left;
    font-family: "Monaco", monospace;
    text-align: center;
    background-color: #3A4454;
}

.squareGrave{
    height: 100px;
    width: 100px;
    float: left;
    font-family: "Monaco", monospace;
    color: #f7f0e0;
    text-align: center;
    background-color: #53687E;
    line-height: 100px;
}

.piece2{
    height: 80px;
    width: 80px;
    float: left;
    font-family: "Monaco", monospace;
    text-align: center;
    background-color: #6B4E71;
    color: #C2B2B4;
    margin: 10px;
    line-height: 80px;
}

.piece1{
    height: 80px;
    width: 80px;
    float: left;
    font-family: "Monaco", monospace;
    text-align: center;
    background-color: #C2B2B4;
    color:#6B4E71;
    margin: 10px;
    line-height: 80px;
}


